---
layout: default
title: Reflections
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">CSE-676</h1>
  </header>

  <article>
    <div class="cv">
      {% for entry in site.data.reflections %}
        {% if entry.title == "CSE-676" %}
          {% if entry.type == "time_table" %}
            <h2 class="section-title">Summer 2023</h2>
            <ul>
              {% for education_entry in entry.contents %}
                <li>
                  <h3>{{ education_entry.title }}</h3>
                  <p>{{ education_entry.department }}</p>
                  <p>{{ education_entry.session }}</p>
                  <p>{{ education_entry.description[0] }}</p>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </article>
</div>





